<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Plurk 時光機</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
      integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <div id="app">
      <div class="ml-5">
        帳號 <input class="mt-4" type="text" v-model.trim="account" /> <br />
        日期 <input class="mt-4" type="date" v-model="date" /> <button class="btn btn-success" @click="getTimeline">時光機</button>
      </div>
      <div class="mt-2 ml-4 py-3" v-for="item in timeline" style="background-color: rgb(255, 189, 65);width:400px;min-height: 100px;"><div class="mx-2" v-html="item.content"></div></div>
      <div @click="getMoreTimeline" v-if="timeline.length" class="my-2 ml-4 pt-3 text-center" style="background-color: rgb(252, 255, 65);width:400px;height: 50px;">看更多</div>
    </div>
  </body>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        account: '',
        date: '',
        timeline: [],
        apiUrl: 'https://plurk-timeline.herokuapp.com/getTimeline'
      },
      methods: {
        getTimeline() {
          if (!this.account) {
            return
          }
          fetch(this.apiUrl, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ account: this.account, offset: this.isoDate })
          })
            .then(res => {
              return res.json()
            })
            .then(json => {
              console.log(json)
              this.timeline = json.plurks
            })
            .catch(err => {
              console.log('錯誤:', err)
            })
        },
        getMoreTimeline() {
          var newOffset = new Date(this.timeline[this.timeline.length - 1].posted).toISOString()
          console.log(newOffset)
          fetch(this.apiUrl, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({ account: this.account, offset: newOffset })
          })
            .then(res => {
              return res.json()
            })
            .then(json => {
              console.log(json)
              json.plurks.forEach(item => {
                this.timeline.push(item)
              })
            })
            .catch(err => {
              console.log('錯誤:', err)
            })
        }
      },
      computed: {
        isoDate() {
          if (this.date) {
            var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
            var dateArray = this.date.split('-')
            var month = months[dateArray[1] * 1 - 1]
            //GMT+8 的23:59 換成 GMT+0的時間
            var dateString = new Date(`${dateArray[2]} ${month} ${dateArray[0]} 15:59 UTC`)
            return dateString.toISOString()
          } else {
            return new Date(Date.now()).toISOString()
          }
        }
      }
    })
  </script>
</html>
